asttokens==3.0.0
attrs==25.3.0
blinker==1.9.0
boolean==1.1.0
Brotli 
certifi 
charset-normalizer 
click==8.1.8
colorama 
comm==0.2.2
ConfigArgParse==1.7
contourpy 
cycler 
dash==3.0.2
decorator==5.2.1
exceptiongroup==1.2.2
executing==2.2.0
fastjsonschema==2.21.1
filelock==3.18.0
Flask==3.0.3
fonttools 
idna
importlib_metadata==8.6.1
ipython==8.35.0
ipywidgets==8.1.6
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jsonpatch 
jsonpointer==2.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_core==5.7.2
jupyterlab_widgets==3.0.14
kiwisolver 
MarkupSafe==3.0.2
matplotlib 
matplotlib-inline==0.1.7
mkl-service==2.4.0
mkl_fft 
mkl_random 
mpmath==1.3.0
narwhals==1.34.1
nbformat==5.7.0
nest-asyncio==1.6.0
networkx==3.4.2
numpy 
open3d==0.17.0
opencv-contrib-python==4.8.1.78
packaging 
parso==0.8.4
Pillow==10.1.0
platformdirs==4.3.7
plotly==6.0.1
plyfile 
pooch==1.8.2
prompt_toolkit==3.0.50
pure_eval==0.2.3
Pygments==2.19.1
pyparsing 
PyQt6==6.7.1
PyQt6_sip 
PySocks 
python-dateutil 
pyvista==0.45.2
pywin32==310
referencing==0.36.2
requests 
retrying==1.3.4
rpds-py==0.24.0
scipy 
scooby==0.10.1
sip
six
stack-data==0.6.3
sympy==1.13.3
tomli 
tomlkit==0.13.2
torch==2.0.0+cu118
torchaudio==2.0.1+cu118
torchvision==0.15.0+cu118
tornado
tqdm
traitlets==5.14.3
typing_extensions==4.13.2
unicodedata2 
urllib3 
visdom 
vtk==9.4.2
wcwidth==0.2.13
websocket-client 
Werkzeug==3.0.6
widgetsnbextension==4.0.14
win-inet-pton 
zipp==3.21.0
